<!DOCTYPE html>
<html>
  <head>
    <title>HoopWithStrangers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'https://us.123rf.com/450wm/pazhyna/pazhyna1706/pazhyna170600012/79941153-detailed-realistic-sport-calendar-icon-with-metallic-spiral-and-basketball-ball-vector-illustration-.jpg?ver=6' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
